@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Users Management</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>Users Management is an application that uses Entity Framework Core in an ASP.NET Core MVC web application.</p>
        <p><a class="btn btn-primary" asp-area="" asp-controller="Users" asp-action="Index">Users Management &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p>View the source code of the application.</p>
        <p><a class="btn btn-primary" href="https://github.com/DudsBarbosa/UsersManagement">Source Code &raquo;</a></p>
    </div>
</div>
